{% extends "base.html.twig" %}
{% block title %}
    Start
{% endblock %}
{% block body %}
    <div class="wrapper">
        <a href="{{ path("play") }}" class="button start-button">Новая игра</a>
    </div>
{% endblock %}

